---
import Layout from "../layout/Layout.astro";
import Hero from "../components/Hero.astro";
import Reveal from "../components/Reveal.astro";
---

<Layout>
  <Hero 
    imageSrc="/img2.png" 
    title="Beställ Take Away" 
    subtitle="Ring så förbereder vi din beställning för upphämtning inom bara 10-15 minuter."
  >
    <a
      href="tel:+468363628"
      class="px-6 py-3 rounded bg-palette-3 text-black font-semibold hover:brightness-95 transition"
    >
      Ring: +46 836 36 28
    </a>
  </Hero>

  <!-- Menu -->
  <section class="flex flex-col items-center px-6 py-16 space-y-6">
    <Reveal>
      <h2 class="text-3xl md:text-4xl font-bold text-palette-1 text-center">Menyer</h2>
    </Reveal>

    <div class="md:grid md:grid-cols-3 gap-8">
        <img src="/menyer/dagenslunch.jpg" alt="Dagens Lunch">
        <img src="/menyer/mazzaspecial.png" alt="Mazza Special" />
        <img src="/menyer/sallader.png" alt="Sallader" />
        <img src="/menyer/ratter.png" alt="Rätter" />
        <img src="/menyer/spett.png" alt="Spett" />
        <img src="/menyer/rulleipita.png" alt="Rulle i Pita" />
        <img src="/menyer/fiskochskaldjur.png" alt="Fisk och Skaldjur">
        <img src="/menyer/plockasjalv.png" alt="Plocka Själv" />
        <img src="/menyer/matfor2.png" alt="Mat för Två" />
        <img src="/menyer/paketfor51500.jpg" alt="Paket för 5" />
        <img src="/menyer/paketfor51100.jpg" alt="Paket för 5" />
    </div>

    <p class="mt-10 text-center text-gray-600 reveal">Informera oss om allergier.</p>
  </section>
</Layout>

