---
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" sizes="48x48" href="/favicon.ico">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Mazza House Libanesisk Restaurang</title>
    </head>
    <body class="bg-offwhite">
        <Navbar />
        <main class="mt-10">
            <slot />
        </main>
        <div class="w-full flex justify-center">
            <p class="text-sm mt-10 text-gray-600">Skapad av Jonathan Matta</p>
        </div>
    </body>
</html>
