---
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Mazza House - Libanesisk Restaurang</title>
    </head>
    <body class="bg-offwhite">
        <Navbar />
        <main class="mt-10">
            <slot />
        </main>
        <div class="w-full flex justify-center">
            <p class="text-md mt-10 text-gray-600">Skapad av Jonathan Matta</p>
        </div>
    </body>
</html>
